

:root{
    --bg_primary: rgba(26, 188, 156, 1);
    --bg_secondary: rgba(44, 62, 80, 1);
    --succes: rgba(32, 174, 148, 1);
    
    --bg_blue:rgba(58, 84, 109, 1);
    ;
    
    

}


header nav .nav-bar{
    /* height: 80px; */
}

#jumbo,.jumbo-cont{
    /* height: 400px; */
    background-color: rgba(26, 188, 156, 1);
}
 

#portafolio .riga-1{
    /* height: 200px;
    width: 200px; */
    background-color: black;
}

/* #portfolio .col-md-3, #portfolio .col-12{
    height: 200px;
} */



.riga-1{
    padding-top: 3rem;
}


#about{
    height: 500px;
    background-color: rgba(32, 174, 148, 1);
}

/* 
footer{
    height: 200px;
} */

/* .container1{
    height: 150px;
} */

.container2{
    height: 100px;
}

/* #contatti{
    height: 450px;
} */

body{
    color: white;
}

.portafolio img{
  border-radius: 1rem !important;
}

.star_divider::before,
.star_divider::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 90px;
  border-radius: 2px;
  background-color: black;
}

#jumbo .star_divider::after,
#jumbo .star_divider::before{
    background-color: white;
}
#about .star_divider::after,
#about .star_divider::before{
    background-color: white;
}

.bg_green{

background-color: rgba(26, 188, 156, 1);
}


.succes{
    color: var(--succes);
}

#bg-blue{
    background-color: var(--bg_secondary);
}


#jumbo-img{
    height:250px ;
}

#contatti{
    background-color: white;
}

.bg_dark{
    background-color: var(--bg_blue);
}

#nav-section{
    background-color: var(--bg_secondary);
}

.element{
   width: 100%;
   height: auto;
    
}
#brands{
    display: flex;
  align-items: center;
  justify-content: center;
}
#brands i{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
